::-moz-selection {
  color: black;
  background: white;
}

::selection {
  color: black;
  background: white;
}
body {
  background-color: black;
}
h1 {
  font-weight: normal;
  font-size: 18px;
  font-family: "consolas";
  color: rgb(0, 255, 0);
}
ul {
  list-style-type: none;
}
a {
  font-family: "consolas";
  text-decoration: none;
  color: rgb(0, 230, 0);
}
a:hover {
  color: rgb(0, 200, 0);
}
.dots {
  font-family: "consolas";
  text-decoration: none;
  color: rgb(0, 230, 0);
}
p {
  font-family: "consolas";
  color: rgb(0, 230, 0);
}
